<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Description</th>
      <th>Copy</th>
      <th>Photo</th>
      <th>Print</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.description %></td>
        <td><%= article.copy %></td>
        <td><%= article.photo %></td>
        <td><%= article.print %></td>
        <td><%= link_to 'Show', [article.issue.magazine, article.issue, article] %></td>
        <td><%= link_to 'Edit', edit_magazine_issue_article_path(article.issue.magazine, article.issue, article) %></td>
        <td><%= link_to 'Destroy', [article.issue.magazine, article.issue, article], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_magazine_issue_article_path %>
