
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Contacts:</strong>
  <% @organization.contacts.each do |c| %>
  <br /><%= link_to c.name, c %> 
  <% end %>
</p>

<p>
  <strong>Ads:</strong>
  <% @organization.ads.each do |a| %>
  <br /><%= link_to a.name, a %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
